.ccounter {
    text-align: center;
    background: grey;
    margin-top: 10px;
    padding: 80px;
    
}

.ccounter div {
    display: inline-block;
    font-size: 50px;
    padding: 30px;
    background-color: black;
    color: whitesmoke;
    margin-top: 40px;
    margin: 2px;
    border-radius: 30px;
    border: 2px solid #efefe8;
}